html {
    background-image: url(02-34-11-741_512.gif);
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.tt {
    border: 10px double black;
    background-color: rgb(165, 16, 16);
    width: 800px;
    margin: auto;
    font-family: "Lucida Handwriting", cursive;
    padding: 20px;
}

.day1, .day2 {
    border: 4px solid black;
    background-color: rgb(255, 255, 255);
    width: 800px;
    margin: 20px auto;
    font-family: "Courier New", monospace;
    padding: 20px;
}

.day1 {
    border-style: dashed;
}

.day2 {
    border-style: dashed;
}

.img {
    border: 10px groove black;
     border-style: outset;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.rotate-images {
    transform: rotate(90deg);
    border: 10px groove black;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    max-width: 800px;
}
