html{
    background-image: url(02-34-11-741_512.gif);
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;}
body{
    border-spacing: 1em 0.5em;
}
.tt{
    border-style:double;
    background-color:rgb(165, 16, 16);
    height: auto;
    width: 800px;
    align-self: center;
    margin: auto;
    border-color: black;
    border-spacing: 100px;
    border-bottom-style: groove;
    border-width: thick 20px;
    font-family: "Lucida Handwriting", cursive;
}
.day1{
    border-style:outset;
    border: 4cm;
    background-color:rgb(255, 255, 255);
    height: auto;
    width: 800px;
    align-self: center;
    margin: auto;
    color: rgba(0, 0, 0, 0);
    border-spacing: 100px;
    border-color: black;
    font-family: "Courier New", monospace;
}
.day2{
    border-style:dashed;
    border: 4cm;
    background-color:rgb(255, 255, 255);
    height: auto;
    width: 800px;
    align-self: center;
    margin: auto;
    border-top-color: rgba(0, 0, 0, 0);
    border-top: 10cm;
    border-spacing: 100px;
    border-color: black;
    border-width: thick 10px;
    font-family: "Courier New", monospace;
}
.imag{
    border-style: groove;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    width: auto;
    height: auto;
    border-spacing: 100px;
}

.rotate-images{
    transform: rotate(90deg);
    border-style: groove;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    width: auto;
    height: auto;
    border-spacing: 100px;
}
